.main-header {
  &__nav {
    a {
      display: inline-block;
      padding: .5rem 1rem;
      text-decoration: none;
      color: inherit;
      border-radius: 4px 4px 0 0;

      &.active {
        background: white;
      }
    }
  }
}
